p, label, input{
    font-size: 1.2em;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
h1{
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 2em;
}
h2{
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 1.6em;
}
h3{
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 1.3em;
}
input[type="select"]{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
header{
    margin: 1%, 2%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header > div{
    flex-grow: 1;
    max-width: 40%;
    margin: auto;
}
header img{
    height: auto;
    width: 800px;
    max-width: 40%;
}
input, select{
    display: block;
    min-height: 30px;
    width: 75%;
    max-width: 225px;
    min-width: 100px;
    margin: 5px auto;
    border: solid 1px #0e0e0e;
}

input[type=submit]{
    border-radius: 5px;
    border:solid 2px #62d7e1;
    background-color: #0e0e0e;
    color: #e0e0e0;
    box-shadow: 10px 2px 2px #58c7d1;
}
button{
    margin: 5px auto;
    height: 50px;
    width: 15%;
    min-width: 100px;
    background-color: #4a78c6;
    color: white;
    font-size: 1.6em;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 20px auto;
    min-height: 80dvh;
}
section:first-of-type{
    flex-direction: row;  
    flex-wrap: wrap;  
    width: 100%;
    margin: auto;
}
section > div:first-child{
    width: 100%;
    text-align: center;
}
section > form{
    width: 40%;
}
section > div:nth-child(3){
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.pagination{
    border: solid 5px #0e0e0e; 
    width: 100%;
}
.hidden{
    display: none;
}
.modal{
    position: fixed;
    top: 5%;
    left: 5%;
    z-index: 1;
    width: 90%;
    margin: auto;
    height: 90dvh;
    overflow: auto;
    background-color: #e0e0e0;
}
.modal article{
    position: relative;
    top: 50%;
}
.modal > button{
    background-color: #d8c5c5;
    color: #0e0e0e;
    position: fixed;
    right: 6%;
    top: 6%;
    font-size: 1.6em;
    font-weight: 900;
    margin: 5px;
    border: solid .5px #0e0e0e;
    display: block;
    min-width: fit-content;
    width: fit-content;
    height: fit-content;
    border: solid 1px #827a7a;
}
.pagination menu{
    display: flex;
    position: fixed;
    bottom: 4%;
    background-color: #e0e0e0;
    z-index: 2;
}
.pagination h3{
    display: flex;
    position: absolute;
    top: 0%;
}
.pagination article p{
    padding: 20px;
    margin-bottom: 5%;
}
.pagination menu p{
    margin: 3px;
    padding: 5px;
    min-width: fit-content;
    min-height: fit-content;
    font-size: 1.6em;
    color: #4a78c6;
    border-bottom: solid 4px #4a78c6; 
}
.pagination menu p:hover{
    font-size: 1.65em;
    color: #58c7d1;
    cursor: pointer;
    border-bottom: solid 6px #58c7d1; 
}
.selectedPagination{
    font-size: 1.65em;
    color: #58c7d1;
    border-bottom: solid 6px #58c7d1;
}
@media screen and (max-width: 760px){
    h1{ 
        font-size: 1.9em;
    }
    h2{
        font-size: 1.5em;
    }
    h3{
        font-size: 1.2em;
    }
    p{
        font-size: 1.1em;
    }
    .pagination{
        width: 90%;
    }
}

@media screen and (max-width: 600px){
    section > form{
        width: 90%;
    }
    section > div:nth-child(3){
        width: 90%;
    }
    header{
        flex-wrap: wrap;
    }
    header > div{
        max-width: 90%;
    }
    header img{
        max-width: 100%;
        height: auto;
    }
}
